doctype html
html
  head
    title= title
    link(href="/stylesheets/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.px-0.pt-5.bg-light
    block content
    script(src="/javascripts/jquery/jquery.min.js")
    script(src="/javascripts/popper.js/umd/popper.min.js")
    script(src="/javascripts/bootstrap/bootstrap.min.js")
    script(src="/javascripts/index.js")

